body{
  background: #0D59F2;
  text-align: center;
}
h1{
  font-size: 35px auto;
  font-family: "Times New Roman";
}
h2{
  font-size: 30px auto;
  font-family: "Times New Roman";
}
a{
  font-size: 30px;
  font-family: "Times New Roman";
  text-align: middle;
  color: #0D59F2;
}
#title{
  width: 1000px;
  height: 150px;
  background: #FFFFFF;
  margin: 35px auto;
  vertical-align: middle;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";  
}
#paragraph{
  width: 1000px;
  height: 125px;
  background: #FFFFFF;
  font-size: 20px;
  margin: 35px auto;
  vertical-align: middle;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";  
}
#viz1 {
  width: 1500px;
  height: 1300px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";
}
#viz2{
  width: 1500px;
  height: 800px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px #F2A60D;
  font-family: "Times New Roman";
}
#viz3{
  width: 1500px;
  height: 732px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px #F2A60D;
  font-family: "Times New Roman";
}
