body{
  background: #0D59F2;
  text-align: center;
}
h1{
  margin: 35px auto;
  font-family: "Times New Roman";
}
h2{
  margin: 30px auto;
  font-family: "Times New Roman";
}
#title{
  width: 1000px;
  height: 180px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";  
}
#viz1 {
  width: 1500px;
  height: 1500px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";
}
#viz2{
  width: 1500px;
  height: 800px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px #F2A60D;
  font-family: "Times New Roman";
}
