body{
  background: #0D59F2;
  text-align: center;
}
p{
  margin: 25px auto;
}
#viz1 {
  width: 1500px;
  height: 1700px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px	#F2A60D;
  font-family: "Times New Roman";
}
#viz2{
  width: 1500px;
  height: 1000px;
  background: #FFFFFF;
  margin: 35px auto;
  border: solid 7px #F2A60D;
  font-family: "Times New Roman";
}
